 <div class="ong">
     <div class="shunt">
    <div class="heading">We’re with you, at every step.</div>
        <div class="sion">For any query you have, find the answer quickly on our Help &amp; Support. Need a little more help? We’re happy to talk via call or chat.</div>
    <div class="button">
      <a href="../assets/index.html"><button class="btn">Get in Touch</button></a>
    </div>
    </div>
    
 
 <div class="long">
    <img class="ss34Img" src="//assets-netstorage.groww.in/website-assets/prod/1.6.6/build/client/images/hns-support-img.c56178f0.png" width="261" height="327" alt="Help and Support - Groww">
 </div>

 </div>
 