.ong{
    margin-top: 122px;
    padding-top: 24px;
     margin-left: 124px;
   display: flex;
   background-color: #16ebb6;
   border-radius: 12px;
   max-width: 85%;
}



.long{
    float: right;
}

.heading{
    margin: 3px 25px;
    font-size: 44px;
    padding-top: 63px;
    color: white;

}

.sion{
  font-size: 15px;
  padding-top: 12px;
  letter-spacing: 5px;
  line-height: 42px;
  color: white;
  margin: 3px 27px;
}
.button{
    padding-top: 22px;
    margin: 3px 25px;

}
.btn{
    width: 25%;
    padding: 12px 3px;
    font-size: 18px;
    cursor: pointer;
    color: #00d09c;
    background-color: white;
    border: 2px solid white;
}