<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="nir">
    <div class="kaal">
        Creating proud investors.
        <div class="lop">
            You can feel the pride of being a Groww investor in their words.
                </div>
    </div>
     
     <div class="suinn">
         View More
     </div>
</div>

<div class="long">
    <div class="short">
        <div class="bon">
    <img class="t39UserImg" src="//assets-netstorage.groww.in/website-assets/prod/1.6.5/build/client/images/ankitImg.863e0afa.png" width="56" height="56" alt="Ankit">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    </div>
    <div class="kon">
    “Groww.in was the platform where I first got onboard to MF and I would have to say, even for a beginner like me it made things quite easier to explore and invest.
   </div>
  
   <div class="ioi">Ankit Kumar.</div>
   <div class="sir">Product,Specialist,Google</div>
</div>

<div class="short">
    <div class="bon">
    <img class="t39UserImg" src="//assets-netstorage.groww.in/website-assets/prod/1.6.5/build/client/images/ankitImg.863e0afa.png" width="56" height="56" alt="Ankit">
 
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
</div>
    <div class="kon">
    “Actually, the UI is extremely simple and easy for users to adapt, that’s what makes it unique. Many of my referrals have also joined and enjoying GROWW.

</div>
<div class="fri">Arkam Khan.</div>
<div class="nri">Solution Flipkart Web Service</div>
</div>

<div class="short">
    <div class="bon">
    <img class="t39UserImg" src="//assets-netstorage.groww.in/website-assets/prod/1.6.5/build/client/images/ankitImg.863e0afa.png" width="56" height="56" alt="Ankit">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    </div>
    <div class="kon">
    “If you are one of those who would like to take control of how you save, use Groww. It’s ridiculously easy portal. It just took me 5 mins to set up and invest.
</div>
<div class="nor">Irshad Khan.</div>
<div class="or">Product,Specialist,Google</div>

</div>
</div>

