








b{
    color: rgb(102, 99, 99);
}

h4{
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(165, 156, 156);
    letter-spacing: 1px;
}


.hh66CardText{
    margin: 12px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
 




.rightnav{
    width: 50%;
   
    
   
}

.call{
    display: flex;
    height: 150px;
    cursor: pointer;
}

.Zero{
 
 padding: 2px 73px;
 margin: 15px;

}


.navbar{
    display: flex;
}


.cool{
   padding: 2px 43px;
    width: 50%;
   padding-top: 140px;
}




.cool span:before{
    content: "";
    animation:animate infinite 13s;
 
}

.cool span{
    font-size: 42px;
    margin: 2px 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@keyframes animate{
    10%{
        content: 'Stock';
        color: blue;
        transform: translateY(20px);
    }
    40%{
        content: 'Mutual Fund';
        color: brown;
        transform: translateY(50px);
    }

    60%{
        content: 'Gold';
        color:goldenrod;
        transform: translateY(65px);
    }

    82%{
        content: 'US Stocks';
        color: red;
        transform: translateY(75px);
    }

    99%{
        content: 'FDs';
        color: greenyellow;
        transform: translateY(-60px);
    }
}


.iomm button {
    background-color: #00d09c;
     color: white;
      padding: 15px 50px;
      margin: 10px ;
      border: none;
     cursor: pointer;
      width: 40%;
      // opacity: 0.9;
      border-radius: 5px;
      font-size: 19px;
    
    }
   
    .iomm button:hover {
     opacity:1;
 
 
    }
   
   /* Extra styles for the cancel button */
    .cancelbtn {
     padding: 14px 20px;
     background-color: #f44336;
    }
   
    /* Float cancel and signup buttons and add an equal width */
    .cancelbtn, .signupbtn {
      float: left;
      width: 50%;
    }
   
    /* Add padding to container elements */
    .container {
      padding: 12px;
      width: 50%;
     
    }
   
   // /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
     width: 100%; /* Full width */
      height: 60%; /* Full height */
     //  overflow: auto; /* Enable scroll if needed */
     //  background-color: #474e5d;
      padding-top: 50px;
    }
   
   // /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
       margin: 5px auto 15px auto; /* 5% from the top, 15% from the bottom and centered */
     //  border: 1px solid #888;
      width: 70%; /* Could be more or less, depending on screen size */
    }
   
   // /* Style the horizontal ruler */
   //  hr {
   //    border: 1px solid #f1f1f1;
   //    margin-bottom: 25px;
   //  }
    
    /* The Close Button (x) */
    .close {
      position: absolute;
      right: 215px;
     font-size: 40px;
      font-weight: bold;
     color: black;
    }
   
    .close:hover,
    .close:focus {
      color: #f44336;
      cursor: pointer;
   }
   
    /* Clear floats */
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
 
 .konh{
   display: flex;
 }
 
 .right{
 
   width: 50%;
   padding: 2px 55px;
   padding-top: 48px;
 }
 
 h3{
   font-size: 37px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 .yello{
 display: flex;
  padding: 3px 33px;
  line-height: 233px;
 
 }
 
 .hun{
  padding-top: 110px;
 }
 
 h6{
   margin: 3px;
   font-size: 18px;
   padding: 3px 10px;
   font-family:sans-serif;
 
 
 }
 
 .nion{
   text-align: center;
padding-bottom: 52px;
   
 }
 
 .nion h5{
 font-size: 19px;
 color: rgb(148, 144, 144);
 }
 
 
 .xero {
   padding-top: 10px;
   position: relative;
     border-bottom: 2px solid black;
   margin: 1px 0;
 }
 
 .xero input{
   width: 100%;
   padding: 0px 5px;
   height: 40px;
   font-size: 16px;
   border: none;
   background: none;
   outline: none;
 }
 
 .xero label{
   position: absolute;
   top: 50%;
   left: 5px;
   color: rgb(117, 114, 114);
   transform: translateY(-50%);
   font-size: 19px;
    pointer-events: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 
 .xero span::before{
   content: "";
   position: absolute;
   top: 50px;
   left: 0;
   width: 0%;
   height: 2px;
   background: #00d09c;
   transition: .5s;
 }
 
 .xero input:focus ~ label,
 .xero input:valid ~ label{
   top: -5px;
   color: #00d09c;
 }
 
 .xero input:focus ~ span::before,
 .xero input:valid ~ span::before{
   width: 100%;
 
 }
 
 
 .air button{
   padding: 2px 5px;
   background-color: #00d09c;
   width: 96%;
  height: 50px;
  font-size: 21px;
  font-family: unset;
 }
 
 .air button:hover{
   background-color: #b0b2ba;
 }
 
 .lls723LeftTopText {
   font-weight: 100;
   font-size: 36px;
   line-height: 48px;
   letter-spacing: .2px;
 }
 
 .lls723LeftTextWrapper {
   position: absolute;
   top: 88px;
   left: 250px;
  color: white;
 }
 
 
 .lls723LeftDashAnim {
   margin-top: 222px;
   margin-left: 1px;
    height: 8px;
    width: 44px;
    background: white;
   
 }
 
 
 
 
 
 .ion p::before{
   content: "";
   animation:animates infinite 13s;
 }
 
 .ion p{
   font-size: 31px;
   margin: 5px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 
 @keyframes animates{
   0%{
     content: "Gold";
     color: white;
   }
 
   20%{
     content: "ETFs";
     color: white;
   }
 
   40%{
     content: "Mutual Funds";
     color: white;
   }
 
   60%{
     content: "US Stocks";
     color: white;
   }
 
   80%{
     content: "Fixed Deposits";
     color: white;
   }
 
   100%{
     content: "Stocks";
     color: white;
   }
 }


 .opo{
   padding: 3px 23px;
 padding-top: 55px;
   margin: 3px 44px;
 }



 .opo span{
  background-color: rgb(224, 219, 219);
  font-size: 18px;
  border-radius: 5px;
  letter-spacing: 2px;
  font-family: 'Courier New', Courier, monospace;
 }

 .sri{
   padding-top: 32px;
   font-size: 37px;
 font-family: Arial, Helvetica, sans-serif;
 color: #44475b;
 }

