<div class="rightnav">
  <div class="call">
    <a routerLink="/"><a class="Zero"> <img class="hh66CardImg" src="//assets-netstorage.groww.in/website-assets/prod/1.6.5/build/client/images/mfHome.af668dea.svg" width="49" height="49" alt="MF - Groww">
      <div class="hh66CardText">Mutual Funds</div></a></a>

    <a routerLink="/stocks"><a class="Zero"><img class="hh66CardImg" src="//assets-netstorage.groww.in/website-assets/prod/1.6.5/build/client/images/stockHome.af2af225.svg" width="49" height="49" alt="Stocks - Groww">
      <div class="hh66CardText">Stocks</div></a></a>
      <span></span>




  <a routerLink="/gold"> <a class="Zero"> <img class="hh66CardImg" src="//assets-netstorage.groww.in/website-assets/prod/1.6.5/build/client/images/goldHome.1c51c78f.svg" width="49" height="49" alt="Gold - Groww">
    <div class="hh66CardText">Gold</div></a> </a>


  

  <a routerLink="/usstocks"> <a class="Zero"><img class="hh66CardImg" src="//assets-netstorage.groww.in/website-assets/prod/1.6.5/build/client/images/usHome.fcb18f99.svg" width="49" height="49" alt="US Stocks - Groww">
   <div class="hh66CardText">US Stocks</div></a></a>



 
 <a routerLink="/fds"> <a class="Zero"><img class="hh66CardImg" src="//assets-netstorage.groww.in/website-assets/prod/1.6.5/build/client/images/fdHome.ba2c5441.svg" width="49" height="49" alt="FD - Groww">
      <div class="hh66CardText">Fixed Deposits</div></a></a>
      


 
 

</div>


<div class="vion">
  <div class="opi">
    <img class="hpd21ProductImg onMount-appear-done onMount-enter-done" src="//assets-netstorage.groww.in/website-assets/prod/1.6.5/build/client/images/us.fc57ceac.png" width="562" height="355" alt="us">
    <div class="rogth">
      Free <span>account opening</span>
      <div class="soiu">Invest in Apple, Google, Netflix and many more US companies that you love without any brokerage fee.</div>
      <div class="iom">
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Create Account For Free</button>
    
    <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <form class="modal-content" action="/action_page.php">
        <div class="konh">
         <div class="container">
        
          <img class="lls723LoginImg" src="//assets-netstorage.groww.in/website-assets/prod/1.6.5/build/client/images/patternImg.0edf5760.svg" width="450" height="505" alt="pattern groww">
         <div class="lls723LeftTextWrapper">
          <div class="lls723LeftTopText">Simple, Free</div>
          <div class="lls723LeftTopText">Investing.</div>
          <div class="lls723LeftDashAnim"></div>
           <div class="ion">
             <p></p>
           </div>
         </div>
    </div>
        <div class="right">
          <h3>Welcome to Groww</h3>
          <div class="yello">
         <img class="hun" src="//assets-netstorage.groww.in/website-assets/prod/1.6.5/build/client/images/google-icon.5c764c55.svg" width="25" height="25" alt="Gmail Logo"> 
            <h6>Continue with Google</h6>
          </div>
          <div class="nion">
            <h5>Or</h5>
          </div>
        <div class="xero">
       <input type="text" required>
       <span></span>
          <label>Your Email Address</label>
    
      </div>
    
     <div class="air">
       <button class="btnn">Continue</button>
     </div>
        </div>
      
        
    </div>
      </form> 
    </div> 
    
    
    <script>
    // Get the modal
    var modal = document.getElementById('id01');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
   </div>
  
   
  
   
  </div>
  
  
  </div>