

<div class="navbar">
  <div class="ul">
    <img class=""
      src="//assets-netstorage.groww.in/website-assets/prod/1.6.5/build/client/images/logo-dark-groww.83f43714.svg"
      width="148" height="40" alt="Groww Logo" itemprop="logo">
  </div>
  <div class="haunted">
    <div class="call">
      <input type="text" name="" placeholder="Search stocks and mutual funds">
      <img class="se27SeSearchIcon"
        src="//assets-netstorage.groww.in/website-assets/prod/1.6.5/build/client/images/search.494f6987.svg" width="19"
        height="19" alt="search - groww">
    </div>
     </div>   

  <div class="iom">
    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login/Register</button>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="konh">
     <div class="container">
    
      <img class="lls723LoginImg" src="//assets-netstorage.groww.in/website-assets/prod/1.6.5/build/client/images/patternImg.0edf5760.svg" width="450" height="505" alt="pattern groww">
     <div class="lls723LeftTextWrapper">
      <div class="lls723LeftTopText">Simple, Free</div>
      <div class="lls723LeftTopText">Investing.</div>
      <div class="lls723LeftDashAnim"></div>
       <div class="ion">
         <p></p>
       </div>
     </div>
</div>
    <div class="right">
      <h3>Welcome to Groww</h3>
      <div class="yello">
     <img class="hun" src="//assets-netstorage.groww.in/website-assets/prod/1.6.5/build/client/images/google-icon.5c764c55.svg" width="25" height="25" alt="Gmail Logo"> 
        <h6>Continue with Google</h6>
      </div>
      <div class="nion">
        <h5>Or</h5>
      </div>
    <div class="xero">
   <input type="text" required>
   <span></span>
      <label>Your Email Address</label>

  </div>

 <div class="air">
   <button class="btnn">Continue</button>
 </div>
    </div>
  
    
</div>
  </form> 
</div> 


<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

  </div>
</div>

<app-my-container></app-my-container>

<router-outlet></router-outlet>

<app-home></app-home>

<app-dabir></app-dabir>

<app-photo></app-photo>

<app-hello></app-hello>

<app-joke></app-joke>

<app-footer></app-footer>

