.huio{
    display: flex;
    padding-top: 54px;
  margin-left: 137px;
}

.cow{
    display: flex;
    padding-top: 113px;
}

.vado{
   
    font-size: 45px;
    padding: 2px 14px;
    margin-left: 38px;
     color: #44475b;
     font-weight: 500;
}

.sheild{
    font-size: 43px;
    color: #44475b;
}
.hp99IosImg{
    margin: 3px 12px;
    padding: 3px 46px; 
      transform: scale(1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.hp99IosImg:hover{
    transform: scale(1.2);
}

.lion{
   padding-top: 19px;
    font-size: 18px;
    color: grey;
    max-width: 380px;
}


.vae{
     display: flex;
    padding: 3px 24px;
    margin-left: 137px;
}

.bio{
   font-size: 26px;
    margin: 3px 8px;
    font-size: 21px;
    color: #44475b;
    font-weight: 555;
}

.img{
    margin-left: 140px;
    transform: scale(1);
    transition: 12.9s ease-in-out;
    cursor: pointer;
    
}
.img img:hover{
    transform: scale(1.1);
    transform: rotate(10deg);
}

.Text{
   padding-top: 7px;
    max-width: 264px;
    font-size: 16px;
    color: gray;
}

.po{
   
    font-size: 23px;
   padding-top: 14px;
}


.lay{
    padding-top: 123px;
     display: flex;
   
}

.Tex{
    max-width: 264px;
    font-size: 16px;
    color: gray;
    margin: 3px 4px;
}

.vote{
    padding-top: 137px;
   transform: scale(1);
   transition: 12.9s ease-in-out;
   cursor: pointer;
   
}

.hp99AndImg{
    transform: scale(1);
    transition: 0.3s ease-in-out;

}
.hp99AndImg:hover{
    transform: scale(1.1);
}

