<div class="huio">
    <div class="cow">

        <div class="vado">
            Invest anywhere,
            <div class="sheild">
                anytime.
            </div>
            <div class="lion">
                Don’t worry about which device to use. Because we’re in every one of them.
            </div>

        </div>

    </div>


    <img class="hp99IosImg"
        src="//assets-netstorage.groww.in/website-assets/prod/1.6.6/build/client/images/ios.0a99dcbb.png" width="255"
        height="356" alt="ios">
    <div class="vote">
        <img class="hp99AndImg"
            src="//assets-netstorage.groww.in/website-assets/prod/1.6.6/build/client/images/android.6dfb12ca.png"
            width="255" height="357" alt="android">
    </div>
</div> 


<div class="vae">
    <img class="hp99BotImg"
        src="//assets-netstorage.groww.in/website-assets/prod/1.6.6/build/client/images/dash.a7e0c55c.svg" width="48"
        height="48" alt="img">

    <div class="bio">
        Stay on top of everthing
        <div class="Text">Keep track of your investments at anytime with Groww.</div>
        <!-- <div class="po">Always in Sync</div> -->

        <div class="lay">

            <img class="lo" src="//assets-netstorage.groww.in/website-assets/prod/1.6.6/build/client/images/sync.3ac006aa.svg"
                width="48" height="48" alt="img">
            <div class="po">Always in Sync</div>
        </div>

        <div class="Tex">Groww will take care of synchronizing data so you can focus on investing.</div>
    </div>

    <div class="img">
        <img class="hp99WebImg"
            src="//assets-netstorage.groww.in/website-assets/prod/1.6.6/build/client/images/web.634ac717.png"
            width="255" height="357" alt="web">
    </div>

</div>


