*{
    margin: 0;
    padding: 0;
}


.navbar{
    display: flex;
}

.ul{
     display: flex; 
    cursor: pointer;
    padding: 2px 120px;
    margin: 7px;
}

.haunted{
    padding: 2px 144px;
    margin: 9px;
 
   
}

.call input{
     text-align: left;
    border: none;
    outline: none;
   flex: 1;
    font-size: 19px;
   padding-left: 12px;
   width: 360px;
   height: 35px;
   
    
}

.call{
     border: 1px solid rgb(226, 222, 222);
     padding: 1px 8px;
     padding-top: 4px;
     text-align: center;
     justify-content: center;
     border-radius: 6px;
}

.iom button {
    background-color: #00d09c;
     color: white;
      padding: 11px 20px;
      margin: 10px ;
      border: none;
     cursor: pointer;
      width: 40%;
       opacity: 0.9;
      border-radius: 5px;
      font-size: 19px;
    
    }
   
    .iom button:hover {
     opacity:1;
 
 
    }
   
   /* Extra styles for the cancel button */
    .cancelbtn {
     padding: 14px 20px;
     background-color: #f44336;
    }
   
    /* Float cancel and signup buttons and add an equal width */
    .cancelbtn, .signupbtn {
      float: left;
      width: 50%;
    }

    .container {
        padding: 12px;
        width: 50%;
       
      }
     
      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
       width: 100%; /* Full width */
        height: 60%; /* Full height */
        /* overflow: auto; Enable scroll if needed */
 
        padding-top: 50px;
      }
     
     /* Modal Content/Box */
      .modal-content {
        background-color: #fefefe;
         margin: 5px auto 15px auto; /* 5% from the top, 15% from the bottom and centered */
        /* border: 1px solid #888; */
        width: 70%; /* Could be more or less, depending on screen size */
      }
   
      .close {
        position: absolute;
        right: 215px;
       font-size: 40px;
        font-weight: bold;
       color: black;
      }
     
      .close:hover,
      .close:focus {
        color: #f44336;
        cursor: pointer;
     }
     
      /* Clear floats */
      .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

      
.konh{
    display: flex;
  }
  
  .right{
  
    width: 50%;
    padding: 2px 55px;
    padding-top: 48px;
  }
  
  h3{
    font-size: 37px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .yello{
  display: flex;
   padding: 3px 33px;
   line-height: 233px;
  
  }
  
  .hun{
   padding-top: 110px;
  }
  
  h6{
    margin: 3px;
    font-size: 18px;
    padding: 3px 10px;
    font-family:sans-serif;
  
  
  }
  
  .nion{
    text-align: center;
    
  }
  
  .nion h5{
  font-size: 19px;
  color: rgb(148, 144, 144);
  }
  
  
  .xero {
    padding-top: 10px;
    position: relative;
      border-bottom: 2px solid black;
    margin: 1px 0;
  }
  
  .xero input{
    width: 100%;
    padding: 0px 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  
  .xero label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgb(117, 114, 114);
    transform: translateY(-50%);
    font-size: 19px;
     pointer-events: none;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .xero span::before{
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #00d09c;
    transition: .5s;
  }
  
  .xero input:focus ~ label,
  .xero input:valid ~ label{
    top: -5px;
    color: #00d09c;
  }
  
  .xero input:focus ~ span::before,
  .xero input:valid ~ span::before{
    width: 100%;
  
  }
  
  
  .air button{
    padding: 2px 5px;
    background-color: #00d09c;
    width: 96%;
   height: 50px;
   font-size: 21px;
   font-family: unset;
  }
  
  .air button:hover{
    background-color: #b0b2ba;
  }
  
  .lls723LeftTopText {
    font-weight: 100;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: .2px;
  }
  
  .lls723LeftTextWrapper {
    position: absolute;
    top: 88px;
    left: 250px;
   color: white;
  }
  
  
  .lls723LeftDashAnim {
    margin-top: 222px;
    margin-left: 1px;
     height: 8px;
     width: 44px;
     background: white;
    
  }
  
  
  
  
  
  .ion p::before{
    content: "";
    animation:animates infinite 13s;
  }
  
  .ion p{
    font-size: 31px;
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .koi{
    padding-top: 15px;
    background-color: #1e2232;
    height: 440px;
    top: 0;
    left: 0;
}



.row{
    display: flex;
    flex-wrap: wrap;
    margin: 13px;
}



.lop{
    padding: 3px 6px;
      margin-left: 93px;
  
}

.lop li{
 list-style: none;
 color: white;
 font-size: 18px;
 margin: 13px;
 cursor: pointer;
 text-align: left;

}

h2{
    color: white;
    font-size: 18px;
    text-align: left;
}

.sio{
    padding-top: 133px;
   
}

.lop p{
    color: white;
}

.lop h1{
    padding-top: 10px;
}

.lop a{
    color: white;
    font-size: 16px;
    cursor: pointer;
}


.down{
    display: flex;
    cursor: pointer;
}

.sio hr{
   margin: auto;
   max-width: 90%;
 
}

.wrapper{
    padding-top: 18px;
    color: white;
    margin-left: 96px;
    font-size: 18px;
}

.fm77HeartImg{
    color: orangered;
 font-size: 34px;

}

.hik{
    display: flex;
}

.sholf{
    padding-left: 285px;
    padding-top: 12px;
 
}

.sholf img{
    margin: 3px 13px;
}

.noiu{
    background-color: #191c27;
    height:400px;
}
.kol{
    padding-top: 33px;
}
span a{
    color:#00d09c;
    text-decoration: none;
}

.Heading{
    color: white;
    margin-left: 96px;
    padding: 3px;
}


.weild{
    display: flex;
    margin-left: 66px;
    padding: 16px;
 
}


.weild li{
 list-style: none;
  padding: 3px 13px;

 
}
.weild li a{
    text-decoration: none;
    color: #7c7e8c;
}
.weild li a:hover{
    color: white;
}


.weild span{
    color: white;
}

.fty{
  display: flex;
  padding: 10px 33px;
  margin-left: 122px;
}
.hnspt412TileImg{
  padding: 3px 14px;
  margin-top: 12px;
}

.fr{
  padding: 5px;
}

.jiun{
  font-size: 24px;

}

.jiu{
  font-size: 34px;
  padding: 0px 43px;
  margin-top: 12px;
}

.tin{
  padding-top: 122px;
}

.sfu{
  display: flex;
  padding-top: 50px;
  margin-left: 123px;

}


.col{
  display: flex;
  margin-left: 44px;
  font-size: 24px;
  padding: 1px 7px;
  padding-top: 13px;
}

.lazyload-wrapper{
  padding: 0px 12px;
}


.cal input{
  text-align: left;
 border: none;
 outline: none;
flex: 1;
 font-size: 19px;
padding-left: 12px;
width: 660px;
height: 45px;

 
}

.cal{
  border: 1px solid rgb(226, 222, 222);
  padding: 1px 8px;
  padding-top: 4px;
  text-align: center;
  justify-content: center;
  border-radius: 6px;
}